@model IEnumerable<Amazon.Models.Vendor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
 <form class="form-inline my-2 my-lg-0" asp-controller="Vendors" asp-action="search" style="padding-right: 25px;">
            <input name="searchString" type="text" class="form-control" placeholder="Search for a Vendor..." aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<p>
    <a style="color:#28a745" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
